{% extends 'partials/base.html' %}
{% block title %}Cabs Edit Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3 p-3 bg-white">
        <h3>Edit Cab Details</h3>
        <hr>
        <form method="post">  <!-- Add method="post" here -->
            {% csrf_token %}
            {{ form|crispy }}
            
            <a class="btn btn-secondary" href="{% url 'dashboard-cars' %}">Cancel</a>
            <input class="btn btn-info" type="submit" value="Confirm">
        </form>
    </div>
</div>
{% endblock %}
