
{% load crispy_forms_tags %}
<div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Make Request
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-info btn-block" type="submit" value="Make Request">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Orders Records
                </div>
                <div class="card-body">
                    <table class="table bg-white">
                        <thead class="bg-info text-white">
                            <tr>
                                <th scope="col">Car</th>
                                <th scope="col">Pickup Location</th>
                                <th scope="col">Dropoff location</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for booking in booking %}
                            {% if booking.client == user%}
                            <tr>
                                <td>{{booking.car.name }}</td>
                                <td>{{ booking.pickup_location }}</td>
                                <td>{{ booking.dropoff_location }}</td>
                            </tr>
                            {% endif %}
							{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>